.wp-list-table .column-titulo { width: 25%; }
.wp-list-table .column-categoria { width: 15%; }
.wp-list-table .column-autor { width: 15%; }
.wp-list-table .column-pais { width: 10%; }
.wp-list-table .column-fecha_publicacion { width: 12%; }
.wp-list-table .column-estado_revision { width: 10%; }
.wp-list-table .column-valoracion_cab { width: 8%; }
.wp-list-table .column-sello_cab { width: 8%; }